Package: com.82flex.ohmyinsets
Name: Oh My Insets
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lessica <82flex@gmail.com>
Author: Lessica <82flex@gmail.com>
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
